*.map
*.log
.directory
.bash_history
.mysql_history
.env
deploy.yml
dump.sql
package-lock.json
npm-debug.log

/.idea

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###




